.App {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 75%;
}
.modal{
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3em;
  height: 100vh;
  width: 100vw;
  color: rgb(255, 255, 255);
  background-color: rgb(165, 163, 163);
  opacity: 0.98;
}
.tip{
  font-size: 1.5em;  
}
.start{
  width: 100vw;
  text-align: center;
  color: white;
  font-size: 2em;
}
.eg-header{
  font-size: 5em;  
  /* margin-bottom: 2em; */
}
.eg-points{
  font-size: 3em;  
}