// .App {
//     margin: 0 auto;
//     min-height: 100%;
//     overflow: hidden;
//     display: flex;
//     flex-direction: row;
//     justify-content: center;
//     align-items: center;
// }
// .start-button {
//     width: 200px;
//     height: 100px;
//     background-color: #fff;
//     border-radius: 30px;
//     color: black;
//     font-weight: bold;
//     font-size: 2rem;
// }
// .wrapper{
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//   }
