.avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.avatar__img {
  color: white;
  border: 2px white solid;
  border-radius: 10px;
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
}
.avatar__name {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}