.avatar {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    &__img {
        color: white;
        border: 2px white solid;
        border-radius: 10px;
        width: 80px;
        height: 80px;
        margin-bottom: 10px;
    }

    &__name {
        text-align: center;
        font-size: 2rem;
        font-weight: bold;
    }
}