.nextFigure {
  margin: 0 0 40px 0;
}

.circle {
  background-color: black;
  border: 3px solid white;
  border-radius: 50%;
  width: 130px;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 20px 0;
}

.circleGrid {
  display: grid;
  gap: 3px;
  background-color: black;
}

.title {
  font-size: 2.5rem;
  font-weight: 800;
  color: white;
  text-align: center;
}