.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // height: 100%;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 10rem;
  & div {
    margin-bottom: 1rem;
    font: 3em sans-serif;
  }
  & link {
    width: 100px;
    height: 30px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #fff;
  }
}
.signin-links {
  display: flex;
  justify-content: flex-end;
  padding: 0.5em;
  font: 1.5em sans-serif;
}
.start-button {
  height: 100px;
  width: 350px;
  background-color: #fff;
  border-radius: 30px;
  color: black;
  font-weight: bold;
  font-size: 2rem;
  cursor: pointer;
}
.black-link {
  color: black;
  text-decoration: none;
}
.white-link {
  color: white;
  text-decoration: none;
}
.user-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
  font-size: 0.8em;
  & img {
    height: 100px;
    width: 100px;
  }
}
