// @import "reset";

// body {
//     height: 100%;
//     line-height: 1.5;
//     font-size: 16px;
//     font-family: Verdana, sans-serif;
//     color: #252B42;
//     background-color: black;
//     font-weight: 500;
// }
// .header {
//     width: 100%;
//     height: 5vh;
//     background-color: black;
// }
// .footer {
//     background-color: black;
//     width: 100%;
//     height: 20vh;
// }
// .big-button {
//     position: relative;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     width: 200px;
//     height: 100px;
//     background-color: #fff;
//     border-radius: 30px;
//     color: black;
//     font-weight: bold;
//     font-size: 2rem;
}