*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  caret-color: transparent;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  line-height: 1.5;
  font-size: 16px;
  font-family: Verdana, sans-serif;
  color: #252B42;
  background-color: black;
  font-weight: 500;
}

#root{
  height: 100%;
}
a{
  text-decoration: none;
  /* color: black; */
}