.info-field {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.score {
    color: white;
    font-size: 30px;

    margin-bottom: 30px;
}   

.points {
    text-align: center;
    color: white;
    font-size: 2rem;
}
  
.score-points {
    text-align: center;
    color: white;
    font-size: 2.5rem;
}