*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
  font-size: 16px;
  background-color: black;
}
.wrapper {
  margin: 0 auto;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  height: 22vh;
  background-color: black;
}

.main {
  flex: 1;
}

.form {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.login-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 55px;
  margin-top: 60px;
  border-radius: 20px;
  font-size: 30px;
  cursor: pointer;
}
.square-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 500px;
  height: 200px;
}

.login__title {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  margin-bottom: 20px;
  font-size: 30px;
}

::placeholder {
  /* Most modern browsers support this now. */
  color: white;
  font-size: 18px;
}

.login_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  max-width: 600px;
  padding: 0 35px;
}

.login-input {
  width: 90%;
  height: 40px;
  background-color: black;
  font-size: 1.3rem;
  margin-bottom: 5px;
  caret-color: auto;
}

.tooltip:last-of-type {
  margin-bottom: 20px;
}

.tooltip {
  height: 20px;
  margin-bottom: 10px;
  font-size: 0.7rem;
  color: rgb(172, 97, 172);
  opacity: 0;
  // transition: all .7s ease-in-out;
}

input:focus::placeholder {
  color: transparent;
}

input,
select,
textarea {
  color: white;
}

input {
  padding-left: 5px;
  padding-bottom: 0px;
}
