.nf-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
.nf-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left bottom;
}
