.play-field {
    display: grid;
    gap: 3px;
    grid-template-rows: repeat(22, 25px);
    grid-template-columns: repeat(10, 25px);

    width: fit-content;
    background-color: white;

    border: 3px white solid;
}

.rowBorder {
    background-color: #fff;
    height: 1px;
}

.row {
    display: grid;
    column-gap: 3px;
}

.border {
    background-color: #fff;
    width: 1px;
}