.wrapper {
  margin: 0 auto;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  height: 22vh;
  background-color: black;
}

.main {
  flex: 1;
  // color: #f5f243;
}
// spinners
svg {
  width: 30px;
  display: block;
  margin: 10px auto 0;
}

.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
  &.circle {
    -webkit-animation: dash 0.9s ease-in-out;
    animation: dash 0.9s ease-in-out;
  }
  &.line {
    stroke-dashoffset: 1000;
    -webkit-animation: dash 0.9s 0.35s ease-in-out forwards;
    animation: dash 0.9s 0.35s ease-in-out forwards;
  }
  &.check {
    stroke-dashoffset: -100;
    -webkit-animation: dash-check 0.9s 0.35s ease-in-out forwards;
    animation: dash-check 0.9s 0.35s ease-in-out forwards;
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}

@keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}
@keyframes spinning-circle {
  0% {
    stroke-dashoffset: 0;
    stroke-dasharray: 150.6 100.4;
  }
  50% {
    stroke-dasharray: 1 250;
  }
  100% {
    stroke-dashoffset: 502;
    stroke-dasharray: 150.6 100.4;
  }
}
.spinner__circle {
  animation: 2s linear spinning-circle infinite reverse;
}

.user-input-animation {
  position: relative;
}
.user-input-animation > svg {
  position: absolute;
  top: -50px;
  right: -220px;
  color: white;
}

.form {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 55px;
  margin-top: 60px;
  border-radius: 20px;
  font-size: 30px;
  cursor: pointer;
}
.square-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 500px;
  height: 200px;
}

.login__title {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  margin-bottom: 20px;
  font-size: 30px;
}

::placeholder {
  /* Most modern browsers support this now. */
  color: white;
  font-size: 18px;
}

.login__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  max-width: 600px;
  padding: 0 35px;
}

.login-input {
  width: 90%;
  height: 40px;
  background-color: black;
  font-size: 1.3rem;
  margin-bottom: 5px;
  caret-color: auto;
}

.tooltip:last-of-type {
  margin-bottom: 20px;
}

.tooltip {
  height: 20px;
  margin-bottom: 10px;
  font-size: 0.7rem;
  color: #000;
  opacity: 0;
  // transition: all .7s ease-in-out;
}
input:focus::placeholder {
  color: transparent;
}

input,
select,
textarea {
  color: white;
}

input {
  padding-left: 5px;
  padding-bottom: 0px;
}
